.slide {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.slide-previous {
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  background: white;
}
.slide-next {
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  background: white;
}
.slide .slide-item img {
  display: block;
  width: 100%;
}
